mixin add-delegates-list-item(classItem, title, count, message, infoItem1, infoItem2)
  li
    .ark-title=title
    .ark-count=count
    .ark-message=message
    .ark-info-item=infoItem1
    .ark-info-item=infoItem2
    .ark-gradient-border(class=classItem)
mixin ark-delegates-statistics-item(title, count)
  li
    span.ark-title=title
    span.ark-faq ?
    .ark-count=count

mixin ark-delegates-table-item(Rank, Name, Address, Forged, ForgingTime, Status, Productivity, Approval)
  tr
    td=Rank
    td=Name
    td=Address
    td=Forged
    td=ForgingTime
    td
      span.ark-status-indicator(class=Status)
    td=Productivity
    td=Approval

mixin ark-transactions-table-item(id, timestamp, sender, recipient, smartbridge, amount, fee)
  tr
    td
      a(href="#")=id
    td=timestamp
    td
      a(href="#")=sender
    td
      a(href="#")=recipient
    td=smartbridge
    td=amount
    td=fee

mixin ark-blocks-table-item(id, higt, timestamp, transactions, generatedby, amount, forged)
  tr
    td
      a(href="#")=id
    td=higt
    td=timestamp
    td=transactions
    td
      a(href="#")=generatedby
    td=amount
    td=forged


mixin add-network-list-item(img, title, datadark, data,  description)
  -var icon = "images/" + img + ".png"
    img.icon(src=icon)
    .title=title
    .data
      span.darktext=datadark
      span=data

    .description=description

mixin ark-statistics-item(title, data)
  li.ark-flex.ark-flex-between
    .title=title
    .count=data


mixin ark-transactions-address-table-item(Transaction, Date, Sender, Recipient, Amount, Fee, Confirmations)
  tr
    td.ark-transaction
      a(href="#")=Transaction
    td=Date
    td.ark-blue-text
      a(href="#")=Sender
    td.ark-blue-text
      a(href="#")=Recipient
    td.ark-amount=Amount
    td=Fee
    td=Confirmations
