doctype
html(lang='en')
  head
    title Ark
    meta(charset='utf-8' name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="css/main.min.css" media)
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato")
  body
    include mixins/mixins.jade
    .ark-wrap
      include modules/header.jade
      section 
        .ark-wrap
          .ark-section-title Latest Transactions
          .ark-block-text.ark-offset-bottom Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
          .ark-section-title Legent
          .ark-block-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          a.ark-btn.ark-yellow-btn(href="#") Acoount
          a.ark-btn.ark-blue-btn(href="#") Block
          a.ark-btn.ark-magenta-btn(href="#") Tx
          a.ark-btn.ark-red-btn(href="#") Debit
          .ark-legent-block.ark-flex-between
            .ark-legent-graph
              .ark-legent-label Updated every 10 seconds.
              img(src="images/graph1.png")
              button.ark-btn-camera Reset Camera
              .ark-tooltip
                .ark-tooltip-title 16785456
                ul.ark-tooltip-data
                  li.blue 12142353345346
                  li.cyan 12142353345346
            .ark-legent-statistics
              .ark-statistics-header Statistics
              ul.ark-statistics-item-data
                +ark-statistics-item("Txs", "0")
                +ark-statistics-item("Volume", "0 ARK")
                +ark-statistics-item("Blocks", "5")
                +ark-statistics-item("Blocks", "5")
                +ark-statistics-item("Timespan", "a minute")
                +ark-statistics-item("Accounts", "7")
          .ark-section-title Navigation
          .ark-block-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    include modules/footer.jade
