doctype
html(lang='en')
  head
    title Ark
    meta(charset='utf-8' name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="css/font-awesome.min.css" media)
    link(rel="stylesheet", href="css/main.min.css" media)
  body
    include mixins/mixins.jade
    .ark-wrap
      include modules/header.jade
      section
        .ark-wrap
          .ark-section-title Address Summury
          .ark-address-summary
            .ark-summary
              .ark-summary-item.ark-flex-between
                span.ark-summary-title Address
                span.ark-summary-data Asdfnsajkddjfgbdjkfgbdbjhabdfhjfbs
              .ark-summary-item.ark-flex-between
                span.ark-summary-title Public Key
                span.ark-summary-data Asdfnsajkddjfgbdjkfgbdbjhabdfhjfbs
              .ark-summary-item.ark-flex-between
                span.ark-summary-title Total Balance
                span.ark-summary-data Asdfnsajkddjfgbdjkfgbdbjhabdfhjfbs
              .ark-summary-item.ark-flex-between
                span.ark-summary-title Transactions
                span.ark-summary-data
                  span.ark-transaction-plus 227
                  span.ark-transaction-minus 41
            .ark-qr
              img(src="images/qr-code.png")
              .ark-qr-message (Scan for Address)

          .ark-section-title Transactions
          .ark-tab-header
            .ark-tab-header-item.active(data-tab-link="#delegates-table") Active Delegates
            .ark-tab-header-item(data-tab-link="#sent-table") Sent
            .ark-tab-header-item(data-tab-link="#received-table") Received
          .ark-tab-body
            .ark-tab-item.active#delegates-table
              table.ark-table
                thead
                  tr
                    th Transaction
                    th Date
                    th Sender
                    th Recipient
                    th Amount
                    th Fee
                    th Confirmations
                tbody
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
            .ark-tab-item#sent-table
              table.ark-table
                 thead
                   tr
                     th Transaction
                     th Date
                     th Sender
                     th Recipient
                     th Amount
                     th Fee
                     th Confirmations
                 tbody
                    +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                    +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                    +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                    +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
            .ark-tab-item#received-table
              table.ark-table
                thead
                  tr
                    th Transaction
                    th Date
                    th Sender
                    th Recipient
                    th Amount
                    th Fee
                    th Confirmations
                tbody
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
    include modules/footer.jade
