doctype
html(lang='en')
  head
    title Ark
    meta(charset='utf-8' name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="css/font-awesome.min.css" media)
    link(rel="stylesheet", href="css/main.min.css" media)
  body
    include mixins/mixins.jade
    .ark-wrap
      include modules/header.jade
      section
        .ark-wrap
          .ark-section-title Latest Transactions
          table.ark-table
            thead
              tr
                th ID
                th Timestamp
                th Sender
                th Recipient 
                th Smartbridge
                th Amount(ARK)
                th Fee(ARK)
            tbody
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
          .ark-section-title Latest Blocks
          table.ark-table
            thead
              tr
                th ID
                th Height
                th Timestamp
                th Transactions
                th Generated by
                th Amount(ARK)
                th Forged(ARK)
            tbody
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")

          .ark-shadowbtn-wrap
            button.ark-shadow-btn(type="button") See All Blocks
            .ark-shadowfor-btn
    include modules/footer.jade
