doctype
html(lang='en')
  head
    title Ark
    meta(charset='utf-8' name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="css/main.min.css" media)
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato")
  body
    include mixins/mixins.jade
    .ark-wrap
      include modules/header.jade
      .ark-graph-wrap
        .ark-section-title Litecoin index
        .ark-graph-index 0.616623400
          span.ark-index-increase (-0.61%)
        .ark-graph-box
          img(src="images/chart.png")
          .ark-tooltip
            .ark-tooltip-title Monday
            ul.ark-tooltip-data
              li 12142353345346 BTC
    section.small-offset
      .ark-wrap
        .ark-section-title Delegate Monitor
        ul.ark-delegate-monitor
          +add-delegates-list-item("orange-gradient", "Delegates", "0", "", "0 active delegates", "0 active on standby")
          +add-delegates-list-item("cyan-gradient", "Delegates", "N/A", "", "0 active delegates", "0 active on standby")
          +add-delegates-list-item("green-gradient", "Next Forgeres", "", "Waiting for next forgers", "", "", "uk")
          +add-delegates-list-item("magenta-gradient", "Total Forged(ARK)", "0", "", "between 0 active delegates")
          +add-delegates-list-item("darkblue-gradient", "Best Foger", "N/A", "", "0 ARK forged", "since registration")
          +add-delegates-list-item("blue-gradient", "Best Productivity", "0%", "", "by N/A")
          +add-delegates-list-item("pink-gradient", "Worst Productivity", "0%", "", "by N/A")
        .ark-wrap
          .ark-section-title Latest Votes
          .ark-latest-votes.ark-flex.ark-flex-between
            .ark-col.ark-col-6
              table.ark-table.ark-table-bordered
                thead
                  tr
                    th Voter
                    th Transaction
                    th Time
                    th.ark-loader
                      img(src="images/ajax-loader.gif")
                  tr
                    th
                    th
                    th
                    th
                tbody
                    tr
                      td 104.131.128.207
                      td 401
                      td
                      td
            .ark-col.ark-col-6
              table.ark-table.ark-table-bordered
                thead
                  tr
                    th Voter
                    th Transaction
                    th Time
                    th.ark-loader
                      img(src="images/ajax-loader.gif")

          .ark-section-title Delegates To Show
          .ark-tab-header
            .ark-tab-header-item.ark-large-btn.active(data-tab-link="#active-delegates") Active Delegates
            .ark-tab-header-item.ark-large-btn(data-tab-link="#standly-delegates") Standly Delegates

          .ark-tab-body
            .ark-tab-item.active#active-delegates
              ul.ark-delegates-statistics.ark-flex.ark-flex-between
                +ark-delegates-statistics-item("Forget Block recently", "0", "Lorem ipsum lorem ipsum")
                +ark-delegates-statistics-item("Missed Block recently", "0", "Lorem ipsum lorem ipsum")
                +ark-delegates-statistics-item("Not Forging", "0", "Lorem ipsum lorem ipsum")
                +ark-delegates-statistics-item("In Queve For Forging", "0", "Lorem ipsum lorem ipsum")

            .ark-tab-item#standly-delegates
              ul.ark-delegates-statistics.ark-flex.ark-flex-between
                +ark-delegates-statistics-item("Forget Block recently", "3", " Lipsum")
                +ark-delegates-statistics-item("Missed Block recently", "0", "Lorem ipsum lorem ipsum")
                +ark-delegates-statistics-item("Not Forging", "0", "Lorem ipsum lorem ipsum")
                +ark-delegates-statistics-item("In Queve For Forging", "2", "Lorem ipsum lorem ipsum")
          table.ark-table
            thead
              tr
                th Rank
                th Name
                th Address
                th Forged
                th Forging time
                th Status
                th Productivity
                th Approval
            tbody
              +ark-delegates-table-item("1", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("2", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("3", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("4", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("5", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("6", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("7", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("8", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("9", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("10", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("11", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("12", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("13", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("14", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("15", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("16", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("17", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("18", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("19", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("20", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("21", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("22", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("23", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("24", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("25", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("26", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("27", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("28", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("29", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("30", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("31", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("32", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("33", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("34", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("35", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("36", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("37", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("38", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("39", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("40", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("41", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("42", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("43", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("44", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("45", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("46", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("47", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("48", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("49", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("50", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("51", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")

          .ark-shadowbtn-wrap
            button.ark-shadow-btn(type="button") Load more
            .ark-shadowfor-btn
    include modules/footer.jade
