doctype
html(lang='en')
  head
    title Ark
    meta(charset='utf-8' name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="css/main.min.css" media)
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato")
  body
    include mixins/mixins.jade
    .ark-wrap
      include modules/header.jade
        .ark-wrap
          .ark-section-title Network Monitor
        .ark-map
        .ark-wrap
          .ark-network-monitor
            +add-network-list-item("images/border.png", "Connected Peers", "1239", "4670", "1 disconnected peers")
            +add-network-list-item("images/border.png", "Last Block", "4959596940694506476579", "", "0 ARK from 0 transactions a few seconds ago")
            +add-network-list-item("images/border.png", "Best Block", "4959596940694506476579", "", "0 ARK from 0 transactions a few seconds ago")
            +add-network-list-item("images/border.png", "Volume  (ARK)", "1,495,9596940694506476579", "", "transferred within 19 hours from 1122 transactions in 564/8640 blocks")
          .ark-section-title.ark-center-text Platforms
            ul.ark-platforms
              li
                img(src="images/border.png")
              li
                img(src="images/border.png")
              li
                img(src="images/border.png")

        section
          .ark-wrap
            .ark-statistics
              .ark-statistics-item
                .ark-statistics-item-title Version
                .ark-statistics-item-wrap
                  .ark-statistics-item-data
                    .ark-statistics-item-numb 18934734
                    .ark-statistics-item-percents 28 72%
                  .ark-statistics-item-data
                    .ark-statistics-item-numb 18934734
                    .ark-statistics-item-percents 28 72%
                .ark-statistics-item-title Best Heights
                .ark-statistics-item-wrap
                  .ark-statistics-item-data
                    .ark-statistics-item-numb.increase 18934734
                    .ark-statistics-item-percents 28 72%
                  .ark-statistics-item-data
                    .ark-statistics-item-numb 18934734
                    .ark-statistics-item-percents 28 72%
                  .ark-statistics-item-data
                    .ark-statistics-item-numb 18934734
                    .ark-statistics-item-percents 28 72%

            .ark-tab-header
              .ark-tab-header-item
                img(src="images/border.png")
                span Connected Peers(39)
              .ark-tab-header-item
                img(src="images/border.png")
                span Disconnected Peers

            table.ark-table
              thead
                tr
                  th ID Address
                  th Port
                  th Hostname
                  th Country
                  th Status
                  th Version
                  th Platform
                  th Height
              tbody
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")

            button.ark-shadow-btn(type="button") Load more
    .ark-wrap
      include modules/footer.jade
