// out: styles.css, sourcemap: true, compress: true
@import "less/base/_mixins.less";
@import "less/base/_variables.less";
@import "less/base/_fonts.less";
@import "less/base/_elements.less";
@import "less/base/_reset.less";
@import "less/layout/_grid.less";
@import "less/modules/_header.less";
@import "less/modules/_footer.less";
@import "less/pages/_explorer.less";


.ark-address-summary {
  margin: 30px 0 50px;
  display: flex;
  justify-content: space-between;
  .ark-summary {
  	font-family: Avenir;
    font-size: 13px;
    width: 650px;
    .ark-summary-item {
      border: 1px solid @summary-border-color;
      padding: 12px 15px;
      margin-bottom: 10px;
      display: flex;
      .ark-transaction-plus {
        background: @plusarrow-icon;
        padding: 4px 10px 0 0;
        margin-right: 20px;
      }
      .ark-transaction-minus {
        background: @minusarrow-icon;
        padding: 4px 0 0 12px;
      }
    }
  }
  .ark-qr {
    width: 250px;
    text-align: center;
    .ark-qr-message {
      font-size: 13px;
      margin: 12px 0px;
      font-family: Avenir;
    }
  }

  @media (max-width: @mobile) {
    display: block;
    margin: 10px 0 30px;
    .ark-summary {
      width: auto;
    }
    .ark-qr {
      margin: 30px auto;
    }
  }
}
