// out: styles.css, sourcemap: true, compress: true
@import "less/base/_mixins.less";
@import "less/base/_variables.less";
@import "less/base/_fonts.less";
@import "less/base/_elements.less";
@import "less/base/_reset.less";
@import "less/layout/_grid.less";
@import "less/modules/_header.less";
@import "less/modules/_footer.less";
@import "less/pages/_explorer.less";

.ark-legent-block {
  display: flex;
  font-family: Avenir;
  margin: 50px 0;
  .ark-legent-graph {
    position: relative;
    .ark-legent-label {
    	font-size: 13px;
      margin-bottom: 10px;
      color: @table-text-color;
    }

    &:hover {
      .ark-tooltip {
        display: block;
      }
    }
  }
  .ark-legent-statistics {
    width: 270px;
    margin: 0 auto;
    .ark-statistics-header {
    	font-family: Avenir;
    	font-size: 14px;
    	font-weight: 900;
      margin-bottom: 9px;
    }
    .ark-statistics-item-data {
      li {
        color: @table-text-color;
        border: 1px solid @summary-border-color;
        padding: 12px 15px;
        margin-bottom: 10px;
        font-size: 13px;
      }
    }
  }

  @media (max-width: @mobile) {
    display: block;
  }
}
