// out: styles.css, sourcemap: true, compress: true
@import "less/base/_mixins.less";
@import "less/base/_variables.less";
@import "less/base/_fonts.less";
@import "less/base/_elements.less";
@import "less/base/_reset.less";
@import "less/layout/_grid.less";
@import "less/modules/_header.less";
@import "less/modules/_footer.less";
@import "less/pages/_explorer.less";

.ark-graph-wrap {
  position: relative;
  margin: 35px 0 70px;
  padding: 15px;
  background: #fff;
  .box-shadow(1px 1px 15px 1px @box-shadow-color);
  .ark-section-title {
    font-family: Avenir;
  }
  .ark-graph-index {
    font-family: Avenir;
    font-size: 36px;
     line-height: 49px;
     color: @graph-index-color;
    .ark-index-increase {
    	font-size: 14px;
    	font-weight: 800;
    	line-height: 19px;
      color: @graph-index-increase-color;
      padding-left: 10px;
    }
  }
  .ark-graph-box {
    margin-top: 40px;
    &:hover {
      .ark-tooltip {
        display: block;
      }
    }
  }

  @media (max-width: @mobile) {
    margin: 20px 0 20px;
    .ark-graph-index {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

.ark-delegate-monitor {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px -18px 90px;
	font-family: Avenir;
  li {
    .box-shadow(1px 1px 15px 1px @box-shadow-color);
    width: 21%;
    margin: 10px 2%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    .ark-title {
	   color: @delegate-item-title;
     font-family: 'Comfortaa-Regular';
     font-size: 14px;
     line-height: 18px;
    }
    .ark-count {
      font-size: 20px;
      font-weight: 900;
      color: #000;
      margin: 4px 0px;
    }
    .ark-message {
      font-size: 14px;
      font-weight: 900;
    }
    .ark-info-item {
	    color: @delegate-item-data;
    	font-size: 14px;
    }
    .ark-gradient-border {
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      &.orange-gradient {
        background: @orange-border-gradient;
      }
      &.cyan-gradient {
        background: @cyan-border-gradient;
      }
      &.green-gradient {
        background: @green-border-gradient;
      }
      &.magenta-gradient {
        background: @magenta-border-gradient;
      }
      &.darkblue-gradient {
        background: @darkblue-border-gradient;
      }
      &.blue-gradient {
        background: @blue-border-gradient;
      }
      &.pink-gradient {
        background: @pink-border-gradient;
      }
    }
  }

  @media (max-width: @mobile) {
    margin: 10px 0 25px;
    justify-content: space-between;
    li {
      width: 31.3%;
      margin: 10px 0;
    }
  }

  @media (max-width: @small-mobile) {
    margin: 10px 0 25px;
    justify-content: space-between;
    li {
      width: 48%;
      margin: 10px 0;
    }
  }
}

.ark-latest-votes {
  @media (max-width: @mobile) {
    flex-wrap: wrap;
  }
}

.ark-delegates-statistics {
  background: @delegates-statistics-bg;
  margin: 15px 0 20px;
  padding: 20px 0 25px;
  font-family: Avenir;
  color: @table-text-color;
  li {
    border-right: 1px solid @table-bordered-border;
    padding: 20px 20px 0px 30px;
    width: 25%;
    &:last-child {
      border: none;
    }
    .ark-title {
      font-size: 14px;
      font-weight: 700;
      line-height: 19px;
    }
    .ark-faq {
      	color: #5F6675;
        font-family: "ProximaNovaSemibold";
      	font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        width: 23px;
        height: 23px;
        .border-radius(50%);
        background: #fff;
        border: 1px solid @faq-border-color;
        text-align: center;
        line-height: 24px;
        display: inline-block;
        margin: 0 5px;
    }
    .ark-count {
    	color: #000000;
      font-family: "ProximaNovaSemibold";
      font-size: 28px;
      line-height: 34px;
      margin-top: 4px;
    }
  }

  @media (max-width: @small-mobile) {
    flex-wrap: wrap;
    margin: 5px 0 5px;
    li {
      margin-bottom: 20px;
      width: 50%;
      box-sizing: border-box;
    }
  }
}
