// out: styles.css, sourcemap: true, compress: true
@import "less/base/_mixins.less";
@import "less/base/_variables.less";
@import "less/base/_fonts.less";
@import "less/base/_elements.less";
@import "less/base/_reset.less";
@import "less/layout/_grid.less";
@import "less/modules/_header.less";
@import "less/modules/_footer.less";
@import "less/pages/_explorer.less";



.ark-section-title {
	color: #000000;
	font-family: 'Comfortaa-Regular';
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

.ark-border-box {
  border-top: 1px solid @input-border-color;
}

.ark-block-text {
	font-family: 'Comfortaa-Regular';
	font-size: 13px;
	margin: 8px 0;
	&.ark-offset-bottom {
		margin-bottom: 50px;
	}
}

@media (max-width: @mobile) {
	.ark-section-title {
	  font-size: 20px;
	  line-height: 26px;
	}
}
