footer
  .ark-wrap
    //- .ark-flex.ark-flex-between
    //-   ul
    //-     li Link
    //-     li
    //-       a(href="#") Chat
    //-     li
    //-       a(href="#") Team
    //-     li
    //-       a(href="#") Blog
    //-   ul
    //-     li Company
    //-     li
    //-       a(href="#") Media KIT
    //-     li
    //-       a(href="#") ARK shop
    //-     li
    //-       a(href="#") Contact
    //-   ul
    //-     li Downloads
    //-     li
    //-       a(href="#") Link1
    //-     li
    //-       a(href="#") Link2
    //-     li
    //-       a(href="#") Link3
    //-   .ark-join
    //-     .ark-join-title Join us on Slack!
    //-     .ark-join-description To register for our Slack team, please enter email Address
    //-     input.ark-text-field.ark-subscribe-field(type="email" placeholder="Enter your email")
    .ark-flex.ark-flex-between
      .ark-copyright @ ark.io | 2017. All rights reserved
      ul.ark-social
        li.fb
          a(href="#")
            i.fa.fa-facebook(aria-hidden="true")
        li.tw
          a(href="#")
            i.fa.fa-twitter(aria-hidden="true")
        li.bt
          a(href="#")
            i.fa.fa-bitcoin(aria-hidden="true")
        li.sl
          a(href="#")
            i.fa.fa-slack(aria-hidden="true")
.ark-scroll-top
  script(src="js/jquery-3.2.1.min.js")
  script(src="js/app.js")
  script(src="https://use.fontawesome.com/a8b73a9922.js")
