header
    a.ark-logo(href="#")
    .ark-header-items.ark-flex-center
      .ark-search-wrap
        input.ark-text-field.ark-search-field(type="search" placeholder="Find a block, transaction...")
        button.ark-search-btn(type="submit")
      nav.ark-flex-center
        ul
          li.ark-menu-item
            .ark-dropdown-link(href="#")
              span.ark-selected-val ARK
            ul.ark-dropdown
              li
                a(href="#") ARK
              li
                a(href="#") BTC
              li
                a(href="#") EUR
              li
                a(href="#") PLN
              li
                a(href="#") USD

          li.ark-menu-item
            .ark-dropdown-link(href="#") Tools
            ul.ark-dropdown
              li
                a(href="#") Activity Graph
              li
                a(href="#") Delegate Monitor
              li
                a(href="#") Network Monitor
              li
                a(href="#") Snapshots

    .ark-menu-btn
.ark-header-data.ark-flex-center
  .ark-data-item
    span.ark-item-index
      span.ark-index-title  Height:
      span.ark-index-data 2315245
    span.ark-item-index
      span.ark-index-title  Nethash:
      span.ark-index-data 2315245
  .ark-data-item
    span.ark-item-index
      span.ark-index-title  Supply:
      span.ark-index-data 123,234,234
    span.ark-item-index
      span.ark-index-title  ARK/BTC:
      span.ark-index-data 0.0002434
  .ark-data-item
    span.ark-item-index
      span.ark-index-title  ARK/USD:
      span.ark-index-data 1.2423
