// out: styles.css, sourcemap: true, compress: true
@import "less/base/_mixins.less";
@import "less/base/_variables.less";
@import "less/base/_fonts.less";
@import "less/base/_elements.less";
@import "less/base/_reset.less";
@import "less/layout/_grid.less";
@import "less/modules/_header.less";
@import "less/modules/_footer.less";
@import "less/pages/_explorer.less";

footer {
  background: @footer-bg;
  font-family: 'Avenir';
  color: @footer-text-color;
  .ark-wrap {
    padding: 50px 10px 30px 10px;
  }
  ul {
    li {
      font-family: 'ProximaNovaSemibold';
      font-size: 16px;
      margin-bottom: 12px;
      &:first-child {
        font-size: 20px;
        font-family: 'Comfortaa-Regular';
      }
      a {
        color: #000;
        font-weight: 900;
      }
    }
  }
  .ark-border-box {
    padding-top: 50px;
    margin-top: 50px;
    justify-content: space-between;
  }
  .ark-join {
    .ark-join-title {
      font-size: 20px;
    }
    .ark-join-description {
      font-size: 13px;
      margin: 7px 0 20px;
      font-family: 'Ubuntu-Regular';
    }
  }
  .ark-copyright {
    font-family: Avenir;
    font-size: 18px;
    line-height: 25px;
  }
  .ark-social {
    li {
      display: inline-block;
      margin: 0 8px;
      a {
        color: @footer-text-color;
        font-family: Avenir;
        font-weight: 300;
        font-size: 26px;
        .transition(all .5s);
        &:hover {
          color: @footer-text-color - #555;
        }
      }
    }
  }

  @media (max-width: @mobile) {
    ul {
      li {
        &:first-child {
          font-size: 17px;
        }
        font-size: 14px;
        margin-bottom: 9px;
      }
    }
    .ark-wrap {
      padding: 20px;
      > .ark-flex {
        flex-wrap: wrap;
      }
    }
    .ark-join {
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    .ark-border-box {
      padding-top: 20px;
      margin-top: 30px;
    }
    .ark-copyright {
      width: 100%;
      text-align: center;
    }
    .ark-social {
      display: block;
      text-align: center;
      margin-top: 15px;
      width: 100%;
    }
  }
}
