// out: styles.css, sourcemap: true, compress: true
@import "less/base/_mixins.less";
@import "less/base/_variables.less";
@import "less/base/_fonts.less";
@import "less/base/_elements.less";
@import "less/base/_reset.less";
@import "less/layout/_grid.less";
@import "less/modules/_header.less";
@import "less/modules/_footer.less";
@import "less/pages/_explorer.less";

header {
  height: 85px;
  display:  flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 35px;
  background: #fff;
  .box-shadow(0 2px 14px 0 @box-shadow-color);
  .ark-logo {
    margin-right: 25px;
    width: 85px;
    height: 85px;
    background: @logo-color @logo-icon;
    display: inline-block;
  }
  .ark-header-items {
    width: 820px;
    justify-content: inherit;
  }
  nav {
    display: inline-block;
    font-size: 14px;
    font-family: 'Avenir';
    font-weight: 900;
    margin-left: 65px;
    ul {
        li {
        display: inline-block;
        position: relative;
        .ark-dropdown-link {
          color: @header-menu-color;
          border-top: 3px solid #fff;
          line-height: 83px;
          display: inline-block;
          padding: 0 15px;
          cursor: pointer;
          .transition(all .5s);
          &:hover {
            border-top: 3px solid @header-active-menu-item;
          }
        }
        .ark-dropdown {
          display: none;
          background: #fff;
          .box-shadow(0 0px 13px 1px @box-shadow-color);
          position: absolute;
          top: 65px;
          width: 160px;
          right: 0;
          z-index: 3;
           li {
            display: block;
            a {
              line-height: 25px;
              border-bottom: 1px solid @input-border-color;
              display: block;
              transition: all .5s;
              width: 100%;
              padding: 10px;
              color: #000;
              box-sizing: border-box;
              &:hover {
                color: @link-blue-text;
              }
            }
           }
        }
        &.open {
          .ark-dropdown-link {
            border-top: 3px solid @header-active-menu-item;
          }
          .ark-dropdown {
            display: block;
          }
        }
      }
    }
  }

  @media (max-width: @tablet) {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 3;
    .ark-logo {
      width: 60px;
      height: 60px;
    }
    .ark-header-items {
      text-align: center;
      display: block;
      background: #fff;
      position: absolute;
      top: 60px;
      box-shadow: 1px 1px 1px 1px #ccc;
      left: -120%;
      width: 100%;
      .transition(all .5s);
      padding: 10px;
      &.open {
        left: 0;
      }
      .ark-header-data {
        margin: 0 auto;
      }
      nav {
        display: block;
        margin: 0;
        ul {
          li {
            a {
              line-height: 55px;
              border: none;
            }
          }
        }
      }
    }
  }

  @media (max-width: @small-mobile) {
  .ark-header-items {
    box-sizing: border-box;
      .ark-header-data {
        display: block;
        .ark-data-item {
          font-size: 13px;
          margin-bottom: 10px;
        }
      }
    }
  }
}


.ark-header-data {
  font-size: 11px;
  color: #000;
  font-family: 'Comfortaa-Regular';
  align-items: center;
  background: @header-statistics-bg-color;
  height: 40px;
  padding: 0 20px;
  .ark-data-item {
    .ark-item-index {
      margin-right: 30px;
      .ark-index-title {
        font-family: 'Comfortaa-Bold';
        color: @header-red-text;
      }
      .ark-index-data {
        color: #000;
        padding-left: 5px;
      }
    }
  }

  @media (max-width: @tablet) {
    margin-top: 60px;
  }

  @media (max-width: @small-mobile) {
    height: auto;
    padding: 10px 10px;
    display: block;
  }
}
