// out: styles.css, sourcemap: true, compress: true
@import "less/base/_mixins.less";
@import "less/base/_variables.less";
@import "less/base/_fonts.less";
@import "less/base/_elements.less";
@import "less/base/_reset.less";
@import "less/layout/_grid.less";
@import "less/modules/_header.less";
@import "less/modules/_footer.less";
@import "less/pages/_explorer.less";

.ark-text-field {
  font-family: 'Comfortaa-Bold';
  border: 1px solid #000;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  color: #000;
  background: none;
  &.ark-subscribe-field {
    min-width: 300px;
  }
  &.ark-search-field {
    border: none;
    font-size: 12px;
  	line-height: 17px;
    height: 50px;
    line-height: 50px;
    padding: 0 10px 0 32px;
    -webkit-appearance: none;
  }

  @media (max-width: @tablet) {
    &.ark-search-field {
      border: none;
    }
  }
  @media (max-width: @small-mobile) {
    &.ark-subscribe-field {
      min-width: auto;
    }
  }
}

.ark-btn {
  height: 42px;
  line-height: 42px;
  .border-radius(5px);
  height: 42px;
  line-height: 45px;
  display: inline-block;
  margin: 3px 10px 3px 0;
  padding: 0 40px;
  font-family: Avenir;
  font-size: 16px;
  color: #fff;
  .transition(all .5s);
  &.ark-yellow-btn {
    background: @orange-btn;
    &:hover {
      background: @orange-btn + #111;
    }
  }
  &.ark-blue-btn {
    background: @blue-btn;
    &:hover {
      background: @blue-btn + #111;
    }
  }
  &.ark-magenta-btn {
    background: @magenta-btn;
    &:hover {
      background: @magenta-btn + #111;
    }
  }
  &.ark-red-btn {
    background: @red-btn;
    &:hover {
      background: @red-btn + #111;
    }
  }
}

.ark-search-wrap {
  position: relative;
  .ark-search-btn {
    background: @search-icon;
    position: absolute;
    top: 16px;
    height: 20px;
    width: 22px;
    border: none;
    left: 0;
    cursor: pointer;
  }
}

.ark-btn-camera {
  display: block;
  transition: all .5s;
  width: 220px;
  margin: 20px auto;
  .border-radius(65px);
  border: 1px solid @reset-camera-border-color;
  height: 50px;
  color: @reset-camera-text-color;
  background: @photo-camera-icon;
  font-size: 18px;
  padding-left: 40px;
  font-family: Avenir;
  line-height: 50px;
  cursor: pointer;
  &:hover {
    border: 1px solid @reset-camera-border-color - #333;
    color: @reset-camera-text-color - #333;
  }
}

.ark-menu-btn {
  display: none;
  .menu-btn-border(20px, 30px, @menu-btn-color);
  &:before {
    content: '';
    .menu-btn-border(0, -15px, @menu-btn-color);
    .transition(all .5s);
  }
  &:after {
    content: '';
    .menu-btn-border(0, 5px, @menu-btn-color);
    .transition(all .5s);
  }
  &.active {
    .menu-btn-border(20px, 30px, #fff);
    &:before {
      .menu-btn-border(10px, -15px, @menu-btn-color);
      transform: rotate(45deg);
    }
    &:after {
      .menu-btn-border(-17px, -15px, @menu-btn-color);
      transform: rotate(-45deg);
    }
  }
  @media (max-width: @tablet) {
    display: block;
  }
}

.ark-shadow-btn {
  border: none;
  background: @box-shadow-btn-bg;
  height: 60px;
  display: block;
  font-family: 'Avenir';
  font-size: 18px;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  width: 100%;
  position: relative;
  z-index: 2;
}

.ark-shadowbtn-wrap {
  position: relative;
  height: 60px;
  width: 260px;
  margin: 0 auto;
  .ark-shadowfor-btn {
    background:  linear-gradient(74.32deg, rgba(255,255,255,0.5) 0%, #3D69F5 100%);
    position: absolute;
    right: -10px;
    top: -10px;
    left: 10px;
    bottom: 10px;
    opacity: 0.3;
    .transition(all .5s);
  }
  &:hover {
    .ark-shadowfor-btn {
      opacity: 0.6;
    }
  }
}

.ark-scroll-top {
  background: @sccroll-top-color @arrow-top-icon;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 20px;
  bottom: 40px;
  background-size: 27px;
  opacity: 0.5;
  .transition(all .5s);
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.ark-tooltip {
  display: none;
  font-family: Avenir;
  font-size: 12px;
  text-align: center;
  color: @tooltip-text-color;
  padding: 10px;
  position: absolute;
  left: 57%;
  top: 100px;
  background: rgba(255,255,255,0.9);
  .box-shadow(-1px 0px 14px -1px @box-shadow-color);
  min-width: 130px;
  .border-radius(4px);
  .ark-tooltip-title {
    font-weight: 900;
  }
  ul {
    &.ark-tooltip-data {
      li {
        position: relative;
        max-width: 100px;
        margin: 0 auto;
        display: block;
        &.blue {
          .custom-list-circle(@list-style-blue);
        }
        &.cyan {
          .custom-list-circle(@list-style-cyan);
        }
      }
    }
  }

  &:before {
    border: 8px solid transparent;
  	border-top: 11px solid rgba(255,255,255,0.9);
    position: absolute;
    left: 50%;
    bottom: -19px;
    margin-left: -4px;
    content: '';
  }
}

.ark-tab-header {
  font-family: 'Avenir';
  display: flex;
  margin-top: 25px;
  .ark-tab-header-item {
    width: 33.3%;
    background: @tab-item;
    color: @tab-text-color;
    text-align: center;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    border-right: 1px  solid #fff;
    .transition(all .5s);
    &.active {
      background: @active-tab-item;
      color: #fff;
    }
    &:hover {
      background: @active-tab-item;
      color: #fff;
    }
    &.ark-large-btn {
      width: 50%;
    }
  }

  @media (max-width: @mobile) {
    .ark-tab-header-item {
      height: 40px;
      line-height: 40px;
      font-size: 12px;
    }
  }
}

.ark-tab-body {
  .ark-tab-item {
    display: none;
    &.active {
      display: block;
    }
  }
}

.ark-table {
  margin: 30px 0 50px;
  border-spacing: 10px;
  font-family: 'Avenir';
  width: 100%;
  tr {
    th {
      font-weight: 900;
      font-size: 14px;
      padding: 0 10px 5px 10px;
    }
  }
  tbody {
    tr {
      font-size: 13px;
      .box-shadow(0 2px 14px 0 rgba(218,218,218,0.5));
      .border-radius(2px);
      td {
        padding: 15px 10px;
        color: @table-text-color;
        word-break: break-word;
        &.ark-transaction {
          background: @tag-icon;
          padding-left: 25px;
          a {
            color: @table-blue-text;
          }
        }
        &.ark-blue-text {
          color: @table-blue-text;
        }
        &.ark-amount {
          color: @table-green-text;
        }
        &.ark-amount-minus {
          color: @table-red-text;
        }
        .ark-status-indicator {
          width: 14px;
          height: 14px;
          display: block;
          .border-radius(50%);
          &.active {
            background: @status-active;
            border: 2px solid @status-active;
          }
          &.pending {
            border: 2px solid @status-active;
          }
          &.noactive {
            background: @status-noactive;
            border: 2px solid @status-noactive;
          }
        }
      }
    }
  }

  &.ark-table-bordered {
    border-spacing: 0;
    border-collapse: collapse;
    tr {
      th {
        font-weight: 900;
        font-size: 14px;
        padding: 0 10px 5px 10px;
        border-bottom: 1px solid @table-bordered-border;
        &.ark-loader {
          text-align: right;
        }
      }
    }
    tbody {
      tr {
        font-size: 13px;
        .box-shadow(0 2px 14px 0 rgba(218,218,218,0.5));
        .border-radius(2px);
        border: 1px solid @table-bordered-border;
        .box-shadow(none);
        td {
          padding: 15px 10px;
          color: @table-text-color;
          word-break: break-word;
          &.ark-transaction {
            background: @tag-icon;
            padding-left: 25px;
            a {
              color: @table-blue-text;
            }
          }
          &.ark-blue-text {
            color: @table-blue-text;
          }
          &.ark-amount {
            color: @table-green-text;
          }
          &.ark-amount-minus {
            color: @table-red-text;
          }
        }
      }
    }
  }


  @media (max-width: @mobile) {
    border-spacing: 5px;
    margin: 15px 0 30px;
    tr {
      th {
        font-size: 12px;
        padding: 0 0 5px 0;
      }
    }
    tbody {
      tr {
        td {
          padding: 10px 0px;
        }
      }
    }
  }

  @media (max-width: @small-mobile) {
    border-spacing: 7px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    tr {
      th {
        font-size: 12px;
        padding: 0 0 5px 0;
        //min-width: 35px;
      }
    }
    tbody {
      tr {
        font-size: 12px;
      }
    }

    &.ark-table-bordered {
      display: inherit;
      overflow-x: inherit;
      white-space: inherit;
    }
  }
}
