@font-face {
  font-family: 'Comfortaa-Bold';
  src: url(../fonts/Comfortaa-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Comfortaa-Regular';
  src: url(../fonts/Comfortaa-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir';
  src: url(../fonts/AvenirLTStd-Book.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url(../fonts/ProximaNovaSemibold.otf);
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url(../fonts/Ubuntu-Regular.ttf);
}
