//Colors
@logo-color: #f0373c;
@menu-btn-color: #f0373c;
@header-menu-color: #364F78;
@box-shadow-color: #dcdcdc;
@placeholder-text-color:  #D4D4D4;
@input-border-color: #ececec;
@index-text-color:  #969696;
@header-active-menu-item: #F1373A;
@table-text-color: #444;
@box-shadow-btn-bg: #3D69F5;
@footer-bg: #f9f9f9;
@active-tab-item: #5F6675;
@tab-item: #f1f1f1;
@tab-text-color:  #969696;
@table-blue-text:  #4087E0;
@table-green-text: #75C000;
@table-red-text: #F1373A;
@summary-border-color: #e3e3e3;
@blue-btn: #41C4F5;
@orange-btn:#F5C123;
@magenta-btn: #826AFA;
@red-btn: #F5693D;
@reset-camera-border-color: #e3e3e3;
@reset-camera-text-color: #d4d4d4;
@tooltip-text-color: #3C4144;
@list-style-blue: #38A8EB;
@list-style-cyan: #A1F4C8;
@graph-index-color: #3C4144;
@graph-index-increase-color: #8D8D8D;
@grey-bg: #fafafa;
@delegate-item-title: #969696;
@delegate-item-data: #737373;
@table-bordered-border: #e3e3e3;
@delegates-statistics-bg: #f9f9f9;
@faq-border-color: rgba(196,210,221,0.5);
@status-active: #75C000;
@status-noactive: #F1373A;
@link-blue-text:  #4087E0;
//Backgrounds and icons
@logo-icon: url(../images/ark-logo.png) no-repeat center center;
@search-icon: url(../images/magnifying-glass.png) no-repeat 0 center;
@tag-icon: url(../images/tag.png) no-repeat 7px center;
@plusarrow-icon: url(../images/plusarrow.png) no-repeat 100% center;
@minusarrow-icon: url(../images/minusarrow.png) no-repeat 0 center;
@photo-camera-icon: url(../images/photo-camera.png) no-repeat 35px center;
@arrow-top-icon: url(../images/keyboard-right-arrow-button.png) no-repeat center center;
@sccroll-top-color: #f0373c;
@header-red-text: #F1373A;
@footer-text-color: #aaa;
@header-statistics-bg-color: #f3f3f3;

//Gradients
@orange-border-gradient: linear-gradient(315.15deg, #FFE6CA 0%, #FFF4E9 100%);
@cyan-border-gradient: linear-gradient(315.15deg, #BBF0FF 0%, #E0F3FF 100%);
@green-border-gradient: linear-gradient(315.15deg, #D9F6FF 0%, #7ED492 100%);
@magenta-border-gradient: linear-gradient(315.15deg, #F8E6F0 0%, #F6D5FF 100%);
@darkblue-border-gradient: linear-gradient(315.15deg, #BFDCFF 0%, #97A8FB 100%);
@blue-border-gradient: linear-gradient(315.15deg, #DCF7FF 0%, #7FC9F9 100%);
@pink-border-gradient:  linear-gradient(315.15deg, #FFD7C2 0%, #FFEBEB 100%);



//Screens
@tablet: 1024px;
@mobile: 768px;
@small-mobile: 480px;
