// out: styles.css, sourcemap: true, compress: true
@import "less/base/_mixins.less";
@import "less/base/_variables.less";
@import "less/base/_fonts.less";
@import "less/base/_elements.less";
@import "less/base/_reset.less";
@import "less/layout/_grid.less";
@import "less/modules/_header.less";
@import "less/modules/_footer.less";
@import "less/pages/_explorer.less";

.ark-wrap {
  max-width: 960px;
  margin: 0 auto;
}

.ark-flex {
  display: flex;
}

.ark-flex-center {
  display: flex;
  align-items: center;
}

.ark-flex-between {
  justify-content: space-between;
}

section {
  background: #fff;
  padding: 70px 10px;
}

.ark-grey-bg {
  padding: 0 10px;
}

.ark-col-6 {
  width: 48%;
}

@media (max-width: @tablet) {
  section {
    padding: 80px 10px 30px;
    &.small-offset {
      padding: 20px 10px 30px;
    }
  }
  .ark-col-6 {
    width: 100%;
  }
  .ark-grey-bg {
    padding-top: 65px;
  }
}
